/* Reset css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* common */

.text-while {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.clear {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: 33.33333%;
}

.col-two {
  width: 50%;
}

.col-full {
  width: 100%;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.pull-right {
  float: right;
}

/* main */

#main {
  /* overflow: hidden; */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#header .mobile-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .mobile-btn:hover {
  background-color: #ccc;
}

#header .mobile-btn:hover .menu-icon {
  color: #000;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 230, 0);
}

#header .menu-icon,
#header .search-box {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav .nav-down {
  font-size: 9px;
}

#nav li {
  position: relative;
}

#nav > li {
  display: inline-block;
}

#nav .subnav {
  min-width: 160px;
  display: none;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: inline-block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/slider/i3.jpg") top center / cover no-repeat;
}

#slider .text-slide {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  color: #fff;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 20px;
}

#content {
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 8px;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 17px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .car-list {
  margin-top: 32px;
}

#content .car-name {
  font-size: 15px;
}

#content .car-img {
  margin-top: 15px;
  width: 200px;
  border-radius: 5px;
}

.car-new {
  background-color: #000;
}

.ticket-car {
  list-style: none;
  background-color: #fff;
  margin-top: 40px;
}

.ticket-car li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.ticket-car .new {
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 20px;
}

.ticket-car .new-lux {
  float: right;
  background-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin: -3px;
}

/* Place */

.place-list {
  margin-top: 16px;
  margin-bottom: 48px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}

.place-heading {
  font-size: 15px;
  font-weight: 600px;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-decs {
  margin-top: 15px;
  line-height: 1.4;
}

.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.place-buy-btn:hover {
  color: rgb(25, 189, 167);
  background-color: rgb(133, 17, 113);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  max-width: calc;
  animation: modal-in ease 0.7s;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.9;
}

.modal-close:hover {
  opacity: 1;
  color: #e62424;
}

.modal-body {
  margin-top: 16px;
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets {
  background-color: #009688;
  border: none;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 18px;
}

#buy-tickets:hover {
  opacity: 0.9;
  color: aqua;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #219621;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact */

.contact {
  background-color: #fff;
}

.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.4;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.submit-btn {
  background-color: rgba(10, 1, 12, 0.945);
  color: #fff;
  border: 1px solid rgb(202, 77, 150);
  padding: 10px 16px;
  float: right;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(23, 150, 150);
}

/* footer */

#footer {
}

/* Responsive */
/* 1024px = 64em */
@media (max-width: 64em) {
}
/* tablet & mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }
  .contact-form.form-control {
    padding: 15px;
  }
  .contact-info {
    line-height: 12px;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

@media (max-width: 46.1875em) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  .s-mt-8 {
    margin-top: 8px !important;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 42px;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #content .car-img {
    width: 60%;
  }
  .contact-form {
    margin-top: 32px;
  }
}

/* End responsive */
